---
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/header_unsplash_low-res.jpg
excerpt: "Finance - Sports Analytics - Japanese - Travel"
---

I'm Ben Pollock, a Software Development Manager & Sr Technical Program Manager currently working in Toronto. This is my personal website where I write on various topics of interest:

<ul>
  <li>Finance - Analysis of financial securities and discussion on strategies to outperform the markets.</li>
  <li>Sports Analytics - Looking into the statistics behind sports (NFL, NHL, NBA, MLB) and applying them to fantasy and sports betting.</li>
  <li>Japanese - As a frequent traveller to Japan for personal and business trips, I am studying the language and write on various topics for the Japanese audience.</li>
  <li>Travel - Avid global traveller, I write about my experience and provide location-specific advice.</li>
</ul>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}